
<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href= "<%= jots_path %>"></a>
  <h1 class="title">Make a new Jotly user</h1>
</header>

<div class="content">
  <%= form_for current_user do |f| %>
    <div class= "content-padded">
      <p>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.email_field :email %>
      </p>

      <%= f.submit 'Sign up now', class: 'btn btn-positive btn-block' %>

    </div>

  <% end %>
</div>
