<h1> User profile <h1>
<header class="bar bar-nav">
  <a class="icon icon-compose pull-right" href="<%= edit_users_path %>"></a>
  <a class="icon icon-left-nav pull-left" href= "<%= jots_path %>"></a>
  <h1 class="title">Jotly</h1>
</header>

<div class="content">
  <div class ="content-padded">
    <h2> Your account info</h2>
    <p>
      <h3><%= @user.name %><h3>
    </p>

    <p>
      <h3><%= @user.email %> </h3>
    </p>
      <%= button_to 'Edit', edit_users_path, class: "btn btn-negative btn-block" %>
  </div>
</div>
