<header class="bar bar-nav">
  <a class="icon icon-compose pull-right" href="<%= new_jot_path %>"></a>
  <h1 class="title">Jotly</h1>
</header>

<div class="content-padded">
  <h1>Jots</h1>
</div>

<div class="content-padded">
  <% @jots.each do |jot| %>
      <ul class="table-view">
        <li class="table-view-cell">
          <a class="navigate-right" href= " <%= jot_path(jot) %>">
            <%= image_tag jot.photo.url(:medium) %>
            <%= jot.message %>
            <p>
              <small>
                Authored by <%= jot.user.name %>
              </small>
            </p>
          </a>
      </ul>
  <% end %>
</div>
