<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href= "<%= jots_path %>"></a>
  <h1 class="title">Jotly</h1>
</header>

<div class="content">
  <%= form_for @jot, html: {multipart: true} do |f| %>
    <div class= "content-padded">
      <%= f.text_field :message, placeholder: "jot in here!" %>
      <%= f.file_field :photo %>

      <%= f.submit class: 'btn btn-positive btn-block' %>

    </div>

  <% end %>
</div>
