<% content_for :button_left do %>
  <a class="icon icon-left-nav pull-left"
    href="<%= jots_path %>"></a>
<% end %>

<div class="content-padded">

  <h3><%= @jot.content %></h3>
  <p>
    <small>
      Posted by: <%= jot_author_or_second_person(@jot) %>
    </small>
  </p>

  <p><%= like_list(@jot) %></p>

  <p>
    <% if has_not_liked?(@jot) %>
      <%= button_to 'Like', like_jot_path(@jot), class: 'like' %>
    <% else %>
      <%= button_to 'Unlike', unlike_jot_path(@jot), class: 'unlike' %>
    <% end %>
  </p>

  <% if can_edit?(@jot) %>
    <p>
      <a href="<%= edit_jot_path(@jot) %>"
        class="btn btn-block btn-outlined">
        Edit
      </a>
    </p>
    <%= button_to 'Destroy', jot_path(@jot), method: :delete, class: 'destroy', data: {confirm: "Delete jot '#{@jot.content}'?"} %>
  <% end %>
</div>

