<!DOCTYPE html>
<html>
<head>
  <title>Jotly</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <!-- Make sure all your bars are the first things in your <body> -->
  <!-- <header class="bar bar-nav">
    <h1 class="title">Jotly</h1>
  </header> -->

  <nav class="bar bar-tab">
  <a class="tab-item active" href="<%= users_path %>">
    <span class="icon icon-person"></span>
    <span class="tab-label">Profile</span>
  </a>
  <a class="tab-item" href=" <%= jots_path %>">
    <span class="icon icon-list"></span>
    <span class="tab-label">Jots</span>
  </a>
</nav>

<%= yield %>

</body>
</html>
